# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GameJam 2021.iml
# Datasource local storage ignored files
/../../../../../../../:\github\GameJam2021\GameJam 2021\.idea\.idea.GameJam 2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
